@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";


html {
  // color: $color;
}

p {
  display: flex;
}


span {
  background: blue;
  font-size: 25px;
}

img {
  max-width: 100%;
  width: 150px;
}
